.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.textInput {
  margin-bottom: 0.75rem;
}

div .loginImage {
  margin-right: 0.75rem;
}

div.formTitle {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}